.display_block{
  display: block;
}
.green{
  background: green;
}

.light-green{
  background: lightgreen;
}

.red{
  background: red;
}

.light-grey{
  background: lightgrey;
}

.transparent{
  background: transparent;
}
label{
  display: block;
}